In [7]:
import pandas as pd
import mysql.connector
#1

df=pd.read_excel(r"C:\Users\marcelo.diezm_pragma\Documents\reto_airflow\dw-airflow-training\data\raw\educ_uoe_grad05.xlsx")
df2=pd.read_excel(r"C:\Users\marcelo.diezm_pragma\Documents\reto_airflow\dw-airflow-training\data\raw\educ_uoe_grad05.xlsx",sheet_name='Data2')

df['flag']=1
df2['flag']=2


def transformation(df):
    flag=df['flag'][0]
    #escoger la data que necesito
    df=df.iloc[9:,:6].reset_index(drop=True)

    #coger la fila que quiero como columna
    new_header=df.iloc[0]#.apply(pd.to_numeric, errors='coerce')
    #eliminar esa fila
    df = df[1:]
    #poner esa fila como header
    df.columns=new_header

    names_columns=['GEO_TIME','2013','2014','2015','2016', '2017']
    df.columns=names_columns

    df=df[df['GEO_TIME']!=":"]
    df=df[df['GEO_TIME']!="Special value:"]
    # eliminar registros con valores NaN en la columna "x"
    df = df.dropna(subset=['GEO_TIME'])
    # reemplazar ":" por 0 en todo el DataFrame
    df = df.replace(':', 0, regex=True)
    if flag==1:
        value_name='percentage_graduated'
    else:
        value_name='percentage_youth_graduated'
    #derretir el DataFrame en una estructura más larga
    df = pd.melt(df, id_vars=['GEO_TIME'], value_vars=['2013', '2014', '2015', '2016', '2017'], 
                 var_name='year', value_name=value_name)

    # agregar una columna para el porcentaje de jóvenes graduados (asumiendo que es el mismo que el porcentaje general)
    #df['percentage_youth_graduated'] = df['percentage_graduated']

    # pivotear el DataFrame para obtener la estructura deseada
    df = pd.pivot_table(df, values=[value_name], index=['year', 'GEO_TIME'])

    df = df.reset_index()
    return df


def merge_df(df,df2):
    df_final=df.merge(df2,on=["year","GEO_TIME"])
    return df_final


df=transformation(df)
df2=transformation(df2)
df=merge_df(df,df2)

In [10]:
df['GEO_TIME'].drop_duplicates()

0                                              Denmark
1                                              Finland
2                                               France
3     Germany (until 1990 former territory of the FRG)
4                                              Ireland
5                                                Italy
6                                          Netherlands
7                                               Norway
8                                                Spain
9                                               Sweden
10                                         Switzerland
11                                      United Kingdom
Name: GEO_TIME, dtype: object

In [ ]:

from sqlalchemy import Column, String, Integer, DateTime, Float, Date, Numeric
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import ForeignKey, Date,Boolean
import connect_db
Base = declarative_base()
class Pais(Base):
    """Class for model declaration ENPS Questions
    """
    __tablename__ = 'dimm_pais'
   # __table_args__ = {'schema': 'pragma_gsheets'}
    id = Column(Integer, primary_key=True)
    nombre_pais = Column(String, nullable=False)



    def __init__(self, nombre_pais) -> None:
        self.nombre_pais = nombre_pais
    
        
sqlEngine, dbConnection,session=connect_db.db_connector()
query = session.query(Pais.nombre_pais)
df_dim_pais_db= pd.read_sql_query(query.statement, sqlEngine)
df_dim_pais_db=df_dim_pais_db.rename(columns={'nombre_pais':'nombre_pais_db'})


df_dim_pais=df[['GEO_TIME']].drop_duplicates().drop_duplicates().reset_index(drop=True)
df_dim_pais=df_dim_pais.rename(columns={'GEO_TIME':'nombre_pais'})
nuevos_paises=pd.merge(df_dim_pais,df_dim_pais_db,left_on='nombre_pais',right_on='nombre_pais_db',how='left')
nuevos_paises=nuevos_paises[nuevos_paises['nombre_pais_db'].isnull()].drop(['nombre_pais_db'],axis=1)
nuevos_paises

ec_model=[]
try:
    for index,row in nuevos_paises.iterrows():
        print(row)
        pais=(Pais(
            nombre_pais=row['nombre_pais']))
        ec_model.append(pais)
        session.add(pais)
    print("pasa por aca")

        # Insertar los objetos Project en la base de datos utilizando bulk_save_objects()
    session.bulk_save_objects(ec_model)
    # Confirmar la transacción
    session.commit()
except Exception as e:
    print(e)
    session.rollback()

finally:
    session.close()

In [3]:


from sqlalchemy import Column, String, Integer, DateTime, Float, Date, Numeric
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import ForeignKey, Date,Boolean
import connect_db
import numpy as np
import pandas as pd
Base = declarative_base()
class Sexo(Base):
    """Class for model declaration ENPS Questions
    """
    __tablename__ = 'dimm_sexo'
   # __table_args__ = {'schema': 'pragma_gsheets'}
    id = Column(Integer, primary_key=True)
    desc_sexo = Column(String, nullable=False)

    def __init__(self, id,desc_sexo) -> None:
        self.id = id
        self.desc_sexo = desc_sexo
    

    
sqlEngine, dbConnection,session=connect_db.db_connector()
#read dimension_pais
query = session.query(Sexo)
df_dim_sexo_db= pd.read_sql_query(query.statement, sqlEngine)
df_dim_sexo_db=df_dim_sexo_db.rename(columns={'desc_sexo':'desc_sexo_dim'})
max_id=df_dim_sexo_db['id'].max()
if np.isnan(max_id):
    max_id=0
print(max_id)
print("------------------------------------------------")


#read stage_porcentaje_egresados_internacional
query='SELECT sexo as desc_sexo_staging FROM stage_egresados_niveles'
stage_porcentaje_egresados_internacional=connect_db.get_table_db_staging(session,query)


df_dim_sexo=stage_porcentaje_egresados_internacional[['desc_sexo_staging']].drop_duplicates().reset_index(drop=True)


nuevos_sexos=pd.merge(df_dim_sexo,df_dim_sexo_db,left_on='desc_sexo_staging',right_on='desc_sexo_dim',how='left')
nuevos_sexos=nuevos_sexos[nuevos_sexos['desc_sexo_dim'].isnull()].drop(['desc_sexo_dim'],axis=1)


nuevos_sexos["id"] = nuevos_sexos.index + 1 +max_id



#nuevos_sexos.to_sql(name='dimm_sex', con=dbConnection, if_exists='append',index=False)
try:
    ec_model=[]
    for index,row in nuevos_sexos.iterrows():
        print(index,row)
        pais=Sexo(
            id=row['id'],
            desc_sexo=row['desc_sexo_staging'])
        ec_model.append(pais)
        session.add(pais)
    print("pasa por aca")
    print(ec_model)
        # Insertar los objetos Project en la base de datos utilizando bulk_save_objects()
    session.bulk_save_objects(ec_model)
    # Confirmar la transacción
    session.commit()
    print('se guarda los datos')
except Exception as e:
    print(e)
    session.rollback()

finally:
    session.close()

<sqlalchemy.engine.base.Connection object at 0x00000286B3810850>
0
------------------------------------------------
0 desc_sexo_staging    Mujeres
id                         1
Name: 0, dtype: object
1 desc_sexo_staging    Hombres
id                         2
Name: 1, dtype: object
pasa por aca
[<__main__.Sexo object at 0x00000286B362AAA0>, <__main__.Sexo object at 0x00000286B49439D0>]
(pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'dimm_sexo.PRIMARY'")
[SQL: INSERT INTO dimm_sexo (id, desc_sexo) VALUES (%(id)s, %(desc_sexo)s)]
[parameters: ({'id': 1, 'desc_sexo': 'Mujeres'}, {'id': 2, 'desc_sexo': 'Hombres'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
import mysql.connector
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy.orm import sessionmaker
def db_connector():

    """CONEXION A LA BASE DE DATOS
    Returns:
        sqlEngine (sqlalchemy.engine.base.Engine) : Sirve para utilizarlo como conexion y asi, guardar informacion a la base de datos
        dbConnection (sqlalchemy.engine.base.Connection) :Sirve para utilizarlo como conexion y asi, leer informacion de la base datos
    """
    try:
        cadena_conexion = "mysql+pymysql://root:1234@localhost:3306/pragma"
        cadena_conexion = "mysql+pymysql://admin:admin@localhost:3306/dw"
        auth_plugin='mysql_native_password'
        sqlEngine = create_engine(cadena_conexion)
        dbConnection = sqlEngine.connect()
        Session = sessionmaker(bind=sqlEngine)
        session = Session()
        print(dbConnection)
    except BaseException as e :
        print(e)
        sqlEngine=None
        dbConnection=None
        session=None
        print("No se conectò")
    return sqlEngine, dbConnection,session
# Imprimir información de conexión
sqlEngine, dbConnection,session=db_connector()

In [6]:
# Hacemos una consulta de ejemplo a la base de datos
import pandas as pd
def get_table_db(session,query):
    resultados = session.execute(query)
    filas = []
    # Imprimimos los resultados
    for resultado in resultados:
        filas.append(resultado)
    df = pd.DataFrame(filas)  
    # Cerramos la sesión
    session.close()
    return df

sqlEngine, dbConnection,session=connect_db.db_connector()
query='select *   FROM dw.dimm_sexo'
dim_pais_bd=get_table_db(session,query)
dim_pais_bd

<sqlalchemy.engine.base.Connection object at 0x00000286A2788AC0>

   id desc_sexo
0  11   Mujeres
1  12   Hombres

In [18]:
#2
df=pd.read_csv(r"C:\Users\marcelo.diezm_pragma\Documents\reto_airflow\dw-airflow-training\data\raw\grad_5sc.csv", encoding='ISO-8859-1', delimiter=';')

def transformation(df):
    cod_ambito_ambito=df['COD_AMBITO'].str.split("-",n=1,expand=True)
    df['COD_AMBITO']=cod_ambito_ambito[0]
    df['AMBITO']=cod_ambito_ambito[1]
    df['PAIS']='ESPAÑA'
    df['ANIO']= '2016-2017'
    df = df.reindex(columns=['COD_AMBITO','AMBITO','SEXO','EDAD','NUM_EGR_NV1','NUM_EGR_NV2','ANIO'])
    return df

df=transformation(df)

In [17]:
df.head(2) #coger id

,COD_AMBITO,AMBITO,SEXO,EDAD,NUM_EGR_NV1,NUM_EGR_NV2,ANIO
0,0111,Ciencias de la educación,Mujeres,Menos de 25 años,1118,974,2016-2017
1,0112,Formación de docentes de enseñanza infantil,Mujeres,Menos de 25 años,6093,0,2016-2017

In [ ]:
df[['COD_AMBITO','AMBITO']].drop_duplicates().reset_index(drop=True)

In [19]:
dim_edad=df[['EDAD']].drop_duplicates().reset_index(drop=True)
dim_edad

                   EDAD
0      Menos de 25 años
1       De 25 a 30 años
2       De 31 a 40 años
3        Más de 40 años

In [ ]:
dim_sexo=df[['SEXO']].drop_duplicates().reset_index(drop=True)
dim_sexo

In [12]:
import pandas as pd
#3
df=pd.read_excel(r"C:\Users\marcelo.diezm_pragma\Documents\reto_airflow\dw-airflow-training\data\raw\03003.xlsx")


df=df.iloc[8:,0:5].reset_index(drop=True)
df.columns = ["area_estudio","cantidad_total","trabajando","desempleo","inactivo"]

dfs = []
start = 0
for i in range(len(df)):
    if pd.isnull(df.loc[i, 'trabajando']):
        dfs.append(df.iloc[start:i,:])
        start = i + 1
dfs.append(df.iloc[start:,:])

df_lista=[]
# Iterar a través de la lista
for i in range(len(dfs)):
    # Comprobar la longitud del dataframe
    if len(dfs[i])> 0:
        # Eliminar el dataframe de la lista
        df_lista.append(dfs[i])



#para el primer df
column_general=["ambos_sexos","hombres","mujeres"]
tipo_universidad=["total","publico","privadas"]

for i in range(len(df_lista)):
    if i<=2:
        df_lista[i]['sexo'] = column_general[0]
    if i>=3 and i<=5:
        df_lista[i]['sexo'] = column_general[1]

    if i>=6 and i<=8:
        df_lista[i]['sexo'] = column_general[2]

    tipo = tipo_universidad[i % len(tipo_universidad)]
    df_lista[i]['tipo_universidad'] = tipo
    df_lista[i]['anio'] = 2014
    df_lista[i]['pais'] = 'chile'



#unir los dfs

df_concatenado = pd.concat(df_lista)


# Realizamos el pivoteo
df = pd.melt(df_concatenado, id_vars=['area_estudio', 'cantidad_total', 'sexo', 'tipo_universidad', 'anio', 'pais'],
             value_vars=['trabajando', 'desempleo', 'inactivo'],
             var_name='situacion_laboral', value_name='cantidad')

# Ordenamos el DataFrame según nuestras especificaciones
df = df[['anio', 'pais', 'tipo_universidad', 'area_estudio', 'sexo', 'situacion_laboral', 'cantidad']]

df=df[(df['tipo_universidad']!='total') & (df['sexo']!='ambos_sexos')]
df=df[df['area_estudio'].str.strip()!='Total']
# # Selección de las filas que cumplen la condición
# df_filtered = df.loc[(df['tipo_universidad'] == 'total') & (df['sexo'] == 'ambos_sexos') & (df['area_estudio'].str.strip()=='Total')] 

# # Suma de la columna "cantidad" solo en las filas seleccionadas
# cantidad_total = df_filtered['cantidad'].sum()

# print("La cantidad total es:", cantidad_total)

C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['sexo'] = column_general[0]
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['tipo_universidad'] = tipo
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['anio'] = 2014
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['pais'] = 'chile'
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['sexo'] = column_general[0]
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['tipo_universidad'] = tipo
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['anio'] = 2014
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['pais'] = 'chile'
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['sexo'] = column_general[0]
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['tipo_universidad'] = tipo
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['anio'] = 2014
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['pais'] = 'chile'
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['sexo'] = column_general[1]
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['tipo_universidad'] = tipo
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['anio'] = 2014
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['pais'] = 'chile'
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['sexo'] = column_general[1]
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['tipo_universidad'] = tipo
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['anio'] = 2014
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['pais'] = 'chile'
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['sexo'] = column_general[1]
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['tipo_universidad'] = tipo
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['anio'] = 2014
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['pais'] = 'chile'
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['sexo'] = column_general[2]
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['tipo_universidad'] = tipo
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['anio'] = 2014
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['pais'] = 'chile'
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['sexo'] = column_general[2]
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['tipo_universidad'] = tipo
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['anio'] = 2014
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['pais'] = 'chile'
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['sexo'] = column_general[2]
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['tipo_universidad'] = tipo
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['anio'] = 2014
C:\Users\marcelo.diezm_pragma\AppData\Local\Temp\ipykernel_29012\1182050519.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lista[i]['pais'] = 'chile'

In [13]:
dim_situacion_laboral=df[['situacion_laboral']].drop_duplicates().reset_index(drop=True)
dim_situacion_laboral

  situacion_laboral
0        trabajando
1         desempleo
2          inactivo

In [14]:
dim_tipo_universidad=df[['tipo_universidad']].drop_duplicates().reset_index(drop=True)
dim_tipo_universidad

  tipo_universidad
0          publico
1         privadas

In [15]:
df.head(2)

,anio,pais,tipo_universidad,area_estudio,sexo,situacion_laboral,cantidad
25,2014,chile,publico,Ciencias sociales y jurídicas,hombres,trabajando,20637
26,2014,chile,publico,Ingeniería y arquitectura,hombres,trabajando,21411

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

cadena_conexion = "mysql+pymysql://admin:admin@localhost:3306/dw"

# Creamos el motor de conexión a la base de datos
engine = create_engine(cadena_conexion)

# Creamos la sesión
Session = sessionmaker(bind=engine)
session = Session()

# Hacemos una consulta de ejemplo a la base de datos
resultados = session.execute("SELECT * FROM dimm_pais")

# Imprimimos los resultados
for resultado in resultados:
    print(resultado)
  
# Cerramos la sesión
session.close()

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
engine = create_engine(cadena_conexion)
Session = sessionmaker(bind=engine)
session = Session()